#body{
	width: 1000px;
}
#header img{
	width: 225px;
	display: inline-block;
}
#header h1{
	display: inline-block;
}
#header span{
	color: #2779c6;
}
#header h3{
	background: #2779c6;
}
#header2{
	display: inline-block;
	width: 400px;
}
	h4 span{
		color:red;
}
	h5 span{
		color:#2779c6;
}
	.ad p{
		color:white;
		position: relative;
		top: -300px;
		text-align: center;
		font-size: 24px;
	}
	.watch{
		background: #1973A3;
		width: 200px;
		padding: 7px 0px;
		border-radius: 10px;
		color: white;
		font-size: 16px;
	}
	.more{
		background:orange;
		width: 200px;
		padding: 7px 0px;
		border-radius: 10px;
		margin-bottom: 20px;
		color: white;
		font-size: 16px;
	}
	.ninja{
		width: 95px;
		position: relative;
		top: -325px;
		padding-left:51px;
	}
	.ad input{
		width: 170px;
		background: #07C3DC;
		color: white;
		position: relative;
		top: -320px;
		margin-left: 15px;
		border-radius: 10px;
		font-size: 16px;
		padding: 7px 0px;
	}
	.ad1{
		width: 300px;

	}
#body{
	display: inline-block;
	vertical-align: top;
	width: 500px;
}
	.body1{
		display: inline-block;
		vertical-align: top;
		width: 400px;
	}
		.home{
			width: 60px;
		}
		h5{
			display: inline-block;
		}
		.phone{
			display: inline-block;
			width: 60px;
		}
		.text{
			display: inline-block;
		}
	#content{
		display: inline-block;
		width: 400px;
	}
		h3{
			display: inline-block;
		}	
		img{
			width: 300px;

		}

