.container{
	width: 600px;
	background: grey;
	padding: 10px;
}
.table{
	border: 2px solid black;
}
th{
	padding-left: 5px;
	padding-right: 62px;
}
form{
	display: inline-block;
	width: 250px;

}
.inputs{
	width: 356px;
}

.body{
	width: 335px;
	text-align: right;
	padding: 10px;
}
h1 {
	text-align: left;
	border-bottom: 3px solid black;
}
button{
	margin-top: 10px;
}