.container {
	color: silver;
	background-color: #12355B;
	width: 970px;
	padding: 5px;
}
.box1 {
	background: #D72638;
	border-radius: 15px;
	padding: 15px;
	margin: 7px;
}
.box2 {
	background: #087E8B;
	display: inline-block;
	border-radius: 15px;
	margin: 7px;
	padding: 20px;
}
#box3 {
	background: #0C1821;
	vertical-align: top;
	display: inline-block;
	border-radius: 15px;
	margin: 7px;
	width: 680px;
	padding: 15px;
}
.box4 {
	background: #5C6672;
	border-radius: 20px;
	padding: 5px;
	margin-top: 4px;
}
a {
	color: #28D3D9;
}
ul {
	margin: 0;
	padding-left: 20px;
}




