#container{
	background: #265175;
	width: 970px;
}
#header{
	display: inline-block;
	width: 100%;
}
#header img{
	width:40%;
	display: inline-block;

}
#header .text{
	width: 55%;
	margin: 0px;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.submit input{
	width:40%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	color: grey;

}
.text .submit{
	width: 40%;
	background: grey;
	padding: 10px;
	border-radius:5px;

}
.go{
	background: blue;
}

#navbar{
	background: lightblue;
	width:95%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
#navbar a{
	margin:40px;
	text-decoration-line: none;
	text-align: center;
	color: white;

}

#navbox{
	display: inline-block;
	width: 30%;
	vertical-align: top;
	text-align: center;
}

#info{
	display: inline-block;
	width: 60%;
	text-align: center;
	color: white;
}

#info span{
	color: yellow;

}

#moreinfo {
	padding: 15px;
	background: white;
}

.start{
	display: inline-block;
	width: 40%;
	text-align: center;
	margin-left: 60px;
	margin-right: 20px;
}

.apps{
	display: inline-block;
	width: 40%;
	text-align: center;
	margin-right: 60px;
	margin-left: 20px;
}
#contacts{
	text-align: center;
}